@using Microsoft.AspNetCore.Components.Web
@namespace GanttComponents.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <!-- TimelineView Level-Specific CSS - Maximum Isolation Architecture -->
    <link href="Components/TimelineView/css/TimelineView.Shared.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.MonthWeek30px.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.MonthWeek40px.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.MonthWeek50px.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.MonthWeek60px.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.WeekDay30px.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.WeekDay40px.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.WeekDay50px.css" rel="stylesheet" />
    <link href="Components/TimelineView/css/TimelineView.WeekDay60px.css" rel="stylesheet" />
    <link href="GanttComponents.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/gantt-composer.js"></script>
    <script src="js/timeline-view.js"></script>
</body>
</html>
