@page "/"
@using GanttComponents.Services
@inject IGanttI18N I18N

<PageTitle>@I18N.T("page.title.home")</PageTitle>

<h1>@I18N.T("home.welcome")</h1>

<p>@I18N.T("home.description")</p>

<p><a href="/gantt-demo">@I18N.T("home.try-demo")</a></p>
